<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<img th:src="${restaurant.image}"/>
<br/>
<p th:text="'이름: '+${restaurant.name}">name</p>
<p th:text="'시작시간: '+${restaurant.startTime}">startTime</p>
<p th:text="'종료시간: '+${restaurant.endTime}">endTime</p>
<p th:text="'추천: '+${restaurant.recommendation}">recommendation</p>
<form action="#" th:action="@{/restaurant/recommend/{restaurantId}(restaurantId=${restaurant.id})}" method="post"
      enctype="multipart/form-data">
    <input th:if="${restaurant.open} != true" type="submit" value="추천"/>
</form>
<form action="#" th:action="@{/restaurant/update-request}" method="post" enctype="multipart/form-data">
    <input th:name="restaurant-id" type="hidden" th:value="${restaurant.id}"/>
    <input th:if="${restaurant.open} == true" type="submit" value="close"/>
    <input th:if="${restaurant.open} != true" type="submit" value="open"/>
</form>
<p th:if="${restaurant.open} == true">영업중</p>
<p th:if="${restaurant.open} != true">영업중지</p>
<a th:href="@{/restaurant/edit/{restaurantId}(restaurantId=${restaurant.id})}">수정</a>
<div>
    <p>==========댓글=========</p>
    <div th:each="comment: ${comments}">
        <p th:text="'작성자: '+${comment.writer.name}">name</p>
        <p th:text="'내용: '+${comment.text}">name</p>
        <p th:text="'작성시간: '+${#calendars.format(comment.date, 'yy-MM-dd HH:mm')}">date</p>
        <form th:action="@{/comment/{restaurantId}/{commentId}(restaurantId=${restaurant.id}, commentId=${comment.id})}"
              method="post">
            <input type="submit" th:value="삭제"/>
        </form>
    </div>
    <form th:action="@{/comment/{restaurantId}(restaurantId=${restaurant.id})}" method="post">
        <label for="text">댓글</label>
        <input type="text" name="text" id="text"/>
        <input type="submit" th:value="추가"/>
    </form>
</div>
</body>
</html>