<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<p th:if="${error}" class="error" th:text="'error: '+${message}"></p>
<form th:action="@{/auth/sign-up}" method="post">
    <label for="name">id</label>:
    <input type="text" id="name" name="name" autofocus="autofocus"/> <br/>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br/>
    <input type="submit" value="회원가입"/>
    <a href="/">취소(홈으로)</a>
</form>
</body>
</html>